$light-green: #eef8ef;
$primary-green: #9ae287;
$dark-green: #023535;

$hovered-dark-green: #044e4e;
$hovered-primary-green: #8fd17d;

$pending-bg: #fef9c3;
$pending-color: #ca8a04;
$completed-bg: #dcfce7;
$completed-color: #16a34a;
$failed-bg: #fee2e2;
$failed-color: #dc2626;


$spacing: .98rem;
$borderRadius: 1rem;
$lightBorder: .1rem solid #e2ebeb;