@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eef8ef;
  color: #023535;
}

button {
  cursor: pointer;
}

.badge {
  width: fit-content;
}
.badge--sm {
  border-radius: 3rem;
  padding: 0.1rem 0.45rem;
  font-size: 0.6rem;
}

.btn--primary {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.72rem;
  color: #056161;
  transition: color 0.2s ease-in;
}
.btn--primary svg {
  width: 0.78rem;
  height: 0.78rem;
}
.btn--primary:hover {
  color: #023535;
}

.frame {
  display: grid;
  gap: 1rem;
  border: 0.1rem solid #e2ebeb;
  border-radius: 1rem;
  padding: 0.97rem;
}
.frame--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.frame--header h1 {
  font-weight: 600;
  font-size: 1rem;
}

.settingButton {
  transition: all 0.2s ease-in;
}
.settingButton:hover {
  color: #056161;
}

.recent-transactions .table-wrapper {
  overflow-x: auto;
}
.recent-transactions table {
  width: 100%;
  font-size: 0.875rem;
  border-collapse: collapse;
}
.recent-transactions table thead tr {
  text-align: left;
  color: #6b7280;
  background: #ecfdf5;
  border-bottom: 1px solid #e5e7eb;
}
.recent-transactions table thead tr th {
  font-weight: normal;
  padding: 0.75rem 1rem;
}
.recent-transactions table tbody tr {
  border-bottom: 1px solid #e5e7eb;
  transition: background 0.2s ease;
}
.recent-transactions table tbody tr:last-child {
  border-bottom: none;
}
.recent-transactions table tbody tr:hover {
  background: #f9fafb;
}
.recent-transactions table tbody tr td {
  padding: 1rem;
}
.recent-transactions table tbody tr .name p:first-child {
  font-weight: 500;
  color: #1f2937;
}
.recent-transactions table tbody tr .name p:last-child {
  font-size: 0.75rem;
  color: #9ca3af;
}
.recent-transactions table tbody tr .date {
  color: #4b5563;
}
.recent-transactions table tbody tr .date p:last-child {
  font-size: 0.75rem;
  color: #9ca3af;
}
.recent-transactions table tbody tr .amount {
  font-weight: 500;
  color: #1f2937;
}
.recent-transactions table tbody tr .note {
  color: #6b7280;
}
.recent-transactions table tbody tr .status span {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  font-weight: 500;
}
.recent-transactions table tbody tr .status.failed span {
  background: #fee2e2;
  color: #dc2626;
}
.recent-transactions table tbody tr .status.completed span {
  background: #dcfce7;
  color: #16a34a;
}
.recent-transactions table tbody tr .status.pending span {
  background: #fef9c3;
  color: #ca8a04;
}
.recent-transactions table tbody tr .status.default span {
  background: #f3f4f6;
  color: #4b5563;
}

.cardControls {
  background-color: #eef8ef;
  display: flex;
  align-items: center;
  padding-block: 1rem;
  border-radius: 1rem;
}
.cardControls button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding-inline: 1.4rem;
  transition: all 0.2s ease-in;
}
.cardControls button:hover {
  color: #056161;
}
.cardControls button:not(:last-child) {
  border-right: 0.1rem solid white;
}
.cardControls button svg {
  width: 1.1rem;
  height: 1.1rem;
}
.cardControls button p {
  font-size: 0.8rem;
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 0.98rem;
  overflow-y: auto;
  height: 100%;
}
.cardSection::-webkit-scrollbar {
  display: none;
}
.cardSection {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.creditCard {
  width: 100%;
  max-width: 320px;
  height: 180px;
  padding: 1.2rem;
  border-radius: 1rem;
  color: #fff;
  background: #023535;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.creditCard::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  right: -30px;
  bottom: -30px;
}
.creditCard .fingerSpace {
  position: absolute;
  width: 1.4rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  bottom: 15%;
  right: -5%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardHeader img {
  width: 32px;
}
.cardHeader svg {
  width: 22px;
  opacity: 0.8;
}

.cardBody h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 0.5rem;
}
.cardFooter span {
  font-size: 0.7rem;
  opacity: 0.7;
}
.cardFooter h1 {
  font-size: 1.12rem;
  font-weight: 700;
  margin-top: 0.2rem;
  line-height: 1rem;
}

.cardInfo {
  display: flex;
  gap: 0.98rem;
  text-align: right;
}
.cardInfo p {
  font-size: 0.74rem;
  font-weight: 500;
}

.content {
  display: grid;
  gap: 0.7rem;
}
.content .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .text p {
  font-size: 0.8rem;
  font-weight: 700;
}
.content .text p span {
  color: gray;
  font-size: 0.78rem;
  font-weight: 400;
}

.progressBar {
  width: 100%;
  height: 0.4rem;
  background-color: #9ae287;
  border-radius: 1rem;
}
.progressBar div {
  background-color: #023535;
  height: 100%;
  border-radius: 1rem;
}

.dashboard__summary {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.98rem;
  margin-bottom: 0.98rem;
}
.dashboard__summary--icon {
  padding: 0.5rem;
  background-color: #eef8ef;
  border-radius: 0.4rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.98rem;
}
.profile p {
  font-weight: 500;
  font-size: 0.9rem;
}
.profile img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.sideNavBar {
  padding: 1.5rem 1.5rem 1rem;
}
.sideNavBar, .sideNavBar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sideNavBar nav {
  gap: 0.6rem;
}
.sideNavBar nav a {
  color: #525252;
  font-size: 0.88rem;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sideNavBar nav a svg {
  width: 1rem;
  height: 1rem;
}
.sideNavBar nav a:hover, .sideNavBar nav a.active {
  color: #023535;
  background-color: #b0ff9b;
}
.sideNavBar nav a.active {
  font-weight: 500;
}

.navLogo {
  margin-bottom: 2rem;
  margin-inline: 1rem;
}
.navLogo img {
  width: auto;
  height: 1.6rem;
}

.aside-transaction {
  display: flex;
  flex-direction: column;
  gap: 0.98rem;
}

.dashLayout {
  display: grid;
  grid-template-columns: 18rem auto 21rem;
  gap: 0.98rem;
  overflow: hidden;
  height: 100%;
}

.dashLayout__content {
  height: 100%;
  overflow-y: auto;
}

.main-grid {
  display: grid;
  gap: 0.98rem;
}

.headerPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding-bottom: 1rem;
}
.headerPage h1 {
  font-weight: 600;
  font-size: 1.1rem;
}

.layout {
  display: grid;
  grid-template-columns: 12rem auto;
  grid-template-rows: 100vh;
  height: 100vh;
  overflow: hidden;
}

.pages {
  overflow-y: auto;
  height: 100%;
}

.pages {
  background-color: white;
  padding: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
