@use '../base/variables' as v;

.content {
      display: grid;
      gap: .7rem;

      & .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & p {
                  font-size: .8rem;
                  font-weight: 700;

                  & span {
                        color: gray;
                        font-size: .78rem;
                        font-weight: 400;
                  }
            }
      }
}