@use '../base/variables' as v;

.content {
      display: grid;
      gap: .7rem;

      & .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            & p {
                  font-size: .8rem;
                  font-weight: 700;

                  & span {
                        color: gray;
                        font-size: .78rem;
                        font-weight: 400;
                  }
            }
      }
}

.progressBar {
      width: 100%;
      overflow: hidden;

      &--sm {
            height: .4rem;
            border-radius: v.$borderRadius;
            background-color: v.$primary-green;

            & div {
                  border-radius: v.$borderRadius;
            }
      }

      &--lg {
            height: 3rem;
            border-radius: .56rem;
            background-color: v.$primary-green;
      }

      & div {
            transition: all .2s ease-in;
            background-color: v.$dark-green;
            height: 100%;
      }
}