@use '../base/variables' as v;

.dashboard {
      &__summary {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: v.$spacing;
            margin-bottom: v.$spacing;

            &--icon {
                  padding: .5rem;
                  background-color: v.$light-green;
                  border-radius: .4rem;
            }
      }
}