@use '../base/variables' as v;

.profile {
      display: flex;
      align-items: center;
      gap: v.$spacing;

      & p {
            font-weight: 500;
            font-size: .9rem;
      }

      & img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
      }
}