@use '../base/variables' as v;

.dashLayout {
      display: grid;
      grid-template-columns: 18rem auto 21rem;
      gap: v.$spacing;
      overflow: hidden;
      height: 100%;
}

.dashLayout__content {
      height: 100%;
      overflow-y: auto;
}

.main-grid {
      display: grid;
      grid-template-rows: 23rem auto;
      gap: v.$spacing;
}