@use '../base/variables' as v;

.plans {
      &__header {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            &-content {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  background-color: v.$light-green;
                  border-radius: v.$borderRadius;
                  padding: 1rem;

                  &-text {
                        p {
                              font-weight: 500;
                              font-size: .85rem;
                        }

                        h1 {
                              font-size: 1.25rem;
                              font-weight: bold;
                        }
                  }

                  &-icon {
                        background-color: white;
                        border-radius: 50%;
                        padding: 0.6rem;
                  }
            }
      }

      &__card {
            cursor: pointer;
            transition: all .2s ease-in-out;

            &--active {
                  background-color: v.$light-green;
                  border: v.$lightGreenBorder;

                  .plans__card--icon {
                        transition: all .2s ease-in-out;
                        background-color: white;
                        border: v.$lightGreenBorder;
                  }
            }

            &:hover {
                  background-color: v.$light-green;
                  border: 1px solid transparent;
            }
            
            &--icon {
                  transition: all .2s ease-in-out;
                  background-color: v.$light-green;
            }
            
            &:hover &--icon {
                  background-color: white;
            }           
      }

      &__main {
            height: 79vh;
            margin-top: 2rem;
            padding-block: 2rem;
            border-top: v.$lightGreyBorder;
            display: grid;
            grid-template-columns: 20% auto;
            gap: v.$spacing
      }

      &__list {
            display: grid;
            gap: v.$spacing;
            border-bottom: v.$lightGreyBorder;
            padding-bottom: v.$spacing;

            &--items {
                  display: grid;
                  grid-template-rows: repeat(3, 1fr);
                  gap: 1rem;
            }
      }

      &__insights {
            // background-color: #eef8ef3d;
            border-top: v.$lightGreenBorder;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.052);

      }

      &__resume {
            display: grid;
            gap: v.$spacing;
            grid-template-rows: 60% auto;

            &-content {
                  display: grid;
                  grid-template-columns: 25% auto 35%;
                  gap: v.$spacing;
            }
      }

      &__setting {
            padding: 1rem;
            background-color: v.$light-green;
            border: v.$lightGreenBorder;
            border-radius: v.$borderRadius;

            &--list {
                  display: grid;
                  grid-template-columns: 40% 95%;
                  gap: 1.5rem;
            }
      }
}