
@use '../../base/variables' as v;

.btn {
      &--primary {
            background-color: v.$dark-green;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;
            font-size: .8rem;
            padding: .7rem;
            border-radius: .7rem;
            transition: all .2s ease-out;

            &:hover {
                  background-color: v.$hovered-dark-green;
            }
      }

      &--secondary {
            display: flex;
            align-items: center;
            gap: .3rem;            
            font-size: .87rem;
            padding: .2rem .6rem;
            border-radius: .5rem;
            transition: all .2s ease;
            font-weight: 500;

            &:hover {
                  background-color: v.$light-green;
            }

            & svg {
                  width: 15px;
                  height: auto;
            }
      }

      &--simple {
            & svg {
                  transition: color .1s ease-in;
            }
      
            &:hover {
                  svg {
                        color: v.$hovered-dark-green;
                  }
            }
      }
}