@use '../../base/variables' as v;

.frame {
      display: grid;
      gap: 1rem;
      border: v.$lightBorder;
      border-radius: v.$borderRadius;
      padding: 1rem;

      &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h1 {
                  font-weight: 600;
                  font-size: .9rem;
            }
      }
}